@import "./fonts/SB_Sans_Interface/SB_Sans_Interface.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--font-sb-sans-interface);
}

body {
  background-color: var(--color-primary-gray);
}

button {
  border: none;
  cursor: pointer;
}

input[type="checkbox"] {
  cursor: pointer;
}

:root {
  /* Отступы */
  --gap-xs: 4px;
  --gap-s: 8px;
  --gap-l: 24px;

  /* Цветовая палитра */
  --color-primary-gray: #f4f4f5;
  --color-white: #ffffff;
  --color-blue: #5558fa;

  /* Шрифты */
  --font-sb-sans-interface: "SB_Sans_Interface";
}
