.container {
  display: flex;
  margin-bottom: 24px;
}
.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #d5e4f7;
  font-weight: 400;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 24px;
}
.header {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 8px;
}
.listFolderItem {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-right: 17px;
  color: var(--color-blue);
}
.folderIcon {
  margin-right: 5px;
}
.hr {
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.link {
  font-size: 12px;
  font-weight: 400;
}

@media (min-width: 500px) {
  .listFolder {
    display: flex;
    list-style: none;
  }
  .listFolderItem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 17px;
    color: var(--color-blue);
  }
}
