.root {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  margin-top: 7px;
}

.header {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
}
.addAdvantages {
  width: 44px;
  height: 44px;
  color: #5558fa;
  border: 1.5px solid #5558fa;
  border-radius: 4px;
  font-size: 26px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.addAdvantages:hover {
  background-color: #5558fa;
  color: white;
}
