.header {
  display: flex;
  justify-content: space-between;
}
.errorIcon {
  display: block;
  margin: 52px auto 0;
}
.buttonWrap {
  display: flex;
  justify-content: end;
  margin-top: 48px;
}
.error {
  color: rgb(216, 55, 55);
  text-align: center;
  margin-top: 16px;
}
