.root {
  margin-top: 67px;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}

.select {
  margin-bottom: 88px;
  cursor: pointer;
}

.input_area {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

select::-ms-expand {
  display: none;
}
.title {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
}
.tip {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.48);
  margin-top: 8px;
  cursor: pointer;
}
.error_message {
  color: red;
}

.addAdvantages:hover {
  background-color: #5558fa;
  color: white;
}

.checkBoxList {
  list-style: none;
}
.checkBox {
  width: 16px;
  height: 16px;
  border: 1.5px solid #0000003d;
  border-radius: 4px;
}
.checkBoxRadio {
  composes: checkBox;
  border-radius: 50%;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.checkBoxRadio:checked {
  background-color: #5558fa;
}

@media (min-width: 600px) {
  .container {
    max-width: 600px;
  }
  .input_area {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .error_message {
    margin-left: 20px;
  }
  .input_area {
    align-items: center;
  }
  .item {
    flex-direction: row;
    align-items: center;
  }
}
