.root {
  padding: 0 16px;
  border-radius: 4px;
  height: 44px;
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  /* width: 79px; */
}

.root_primary {
  composes: root;
  background-color: var(--color-blue);
  color: var(--color-white);
}

.root_secondary {
  composes: root;
  border: 1.5px solid var(--color-blue);
  color: var(--color-blue);
}
